@using Store.DAL.Models;
@model Cart


<table id="tblCategoryProduct">
	<tr id="trCategoryProduct">
		@{
			if (Model != null && Model.ProductItems != null)
			{
				foreach (var item in Model.ProductItems)
				{
					<td>
						@item.Product.Name <br /> Price : @item.Product.Price
						<br />

						<form action="" method="post" id="frmPost@{@item.Product.Id}">
							<input type="hidden" id="ProductId" name="ProductId" value="@item.Product.Id" />
						</form>

						<img src="/css/Image/Minus.png" width="20" height="20" onclick="Click('/Home/DeleteFromCart','@{@item.Product.Id}')" />
						<img src="/css/Image/Plus.png" width="20" height="20" onclick="Click('/Home/AddingInCart','@{@item.Product.Id}')" />

						<br />
						<label>Count: @item.Count</label>
					</td>
				}
			}
		}
	</tr>
	<tr>
		<td colspan="10">
			<form action="/Home/AddToOrder" method="post">
				<br />
				<br />
				<input type="submit" value="Confirm" />
			</form>
			<label>
				@ViewBag.Message
			</label>
		</td>
	</tr>
</table>

<script type="text/javascript">

	function Click(url , id) {

		var form = document.getElementById('frmPost' + id);
		form.action = url;
		form.submit();
	}

</script>

